/*font-family: 'Baloo Bhaina', cursive;
font-family: 'David Libre', serif;
*/

#contenidos
{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
	/*background: purple;*/
}


/*ETIQUETAS*/
body{
background-image: url(../img/fondo.png);
background-repeat: no-repeat;
background-size: cover;
}

h1{
font-family: 'Shadows Into Light', cursive;
color: white;
margin-left: 10px;
font-size: 60px;
text-align: center; 
}

h2{	
font-family: 'Indie Flower', cursive;
color: white;
margin-left: 10px;
font-size: 20px;
text-align: left; 
}

h3{
font-family: 'Playfair Display', serif;
color: white;
font-size: 10px;
text-align: center; 
}


header{
	/*font-color: white;
	color: white;*/
	width: 1000px;
	height: 120px;
	background: rgba(255, 255, 255, 0.70);
	/*border-radius: 10px;	*/
}

nav
{
	width: 1000px;
	height: 50px;
	background: red;
	border-radius: 10px;
}

ul
{
	margin: auto;
	padding-top: 4px;
}

li
{
	float: left;
	list-style-type: none;
	padding: 10px;
	background: black;
	margin: 3px;
	border-radius: 10px;
	box-shadow: 0 0 10px white inset;
}

section
{
	width: 700px;
	background: lavender;
	height: 600px;
	float: left;
	border-radius: 10px;
}

aside
{
	width: 280px;
	background:darkgray;
	height: 600px;
	float: left;
	margin-left: 10px;
	border-radius: 10px;
}

p
{
	font-size: 16px;
	font-weight: bolder;
	line-height: 20px;
	padding: 10px;
	text-align: justify;
}

footer
{
	width: 1000px;
	height: 30px;
	background: darkorange;
	float: left;
	margin-top: 2px;
	margin-bottom: 20px;
	border-radius: 10px;
}

/*CLASES*/

.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 960px;}
.menu:link{color: white; text-decoration: none;}
.menu:visited{color: white; text-decoration: none;}
.menu:hover{color: white; text-decoration: none;text-shadow: 0 0 5px white;}
.menu:active{color: white; text-decoration: none;}

/*SEUDO-CLASS*/

li:hover
{
	background: black;
	box-shadow: 0 0 10px white inset;
}